@import "./themes/mocha.css";

/* Global */
* {
  /*font-family: "JetBrainsMono NL";*/
  font-family: "JetBrainsMono Nerd Font";
  font-size: 0.9rem;
  border-radius: 14px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @crust;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode, #clock, #memory, #temperature, #cpu, #custom-weather,
#mpd, #media #idle_inhibitor #player, #backlight, #pulseaudio, #network, 
#battery, #custom-powermenu, #custom-cava-internal, #cava, #window, #bluetooth,
#custom-launcher, #tray, #disk, #custom-pacman, #custom-scratchpad-indicator {
  padding-left: .3rem;
  padding-right: .3rem;
}

#mode:hover, #clock:hover, #memory:hover, #temperature:hover, #cpu:hover, #custom-weather:hover,
#mpd:hover, #media #idle_inhibitor #player:hover, #backlight:hover, #pulseaudio:hover, #network:hover, 
#battery:hover, #custom-powermenu:hover, #custom-cava-internal:hover, #cava:hover, #bluetooth:hover,
#custom-launcher:hover, #tray:hover, #disk:hover, #custom-pacman:hover, #custom-scratchpad-indicator:hover {
  border: .7px solid @rosewater;
}


/* Bar */
#left, #right {
  background-color: shade(@crust, 0.9);
  /* border: 2px solid @lavender; */
  padding-left: 5px;
  padding-right: 5px;
}

#center {
  background-color: transparent;
  /* background-color: shade(@crust, 0.9); */
}

window#waybar {
  background-color: transparent;
  /*
  background-color: shade(@crust, 0.9);
  border: 2px solid @lavender;
  */
}

window > box {
  background-color: transparent;
  margin: .2rem;
  /*margin-bottom: 0;*/
}

/* Workspaces */
#workspaces:hover {
  background-color: transparent;
}

#workspaces button {
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: @yellow;
  border: .2px solid transparent;
  background: transparent;
  font-family: "JetBrains Mono NL";
}

#workspaces button.active {
  color: @blue;
}

#workspaces button:hover {
  border: .7px solid @rosewater;
  color: @rosewater;
}

#window {
  color: @lavender;

}

window#waybar.empty #window {
  padding-left: 0;
  padding-right: 0;
}

/* Tooltip */
tooltip {
  background-color: @crust;
}

tooltip label {
  color: @rosewater;
}

/* battery */
#battery {
  color: @mauve;
}
#battery.full {
  color: @green;
}
#battery.charging{
  color: @teal;
}
#battery.discharging {
  color: @peach;
}
#battery.critical:not(.charging) {
  color: @pink;
}
#custom-powermenu {
  color: @red;
}

/* mpd */
#mpd.paused {
  color: @pink;
  font-style: italic;
}
#mpd.stopped {
  color: @rosewater;
  /* background: transparent; */
}
#mpd {
  color: @lavender;
}
#custom-player {
  background-color: @crust;
  color: @lavender;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#custom-player.stopped {
  background-color: transparent;
  border: 0;
  font-size: 0;
  padding: 5px;
}

#custom-media.Stopped {
  background-color: transparent;
}

/* Extra */
#custom-cava-internal, #cava{
  color: @peach;
}
#custom-launcher {
  color: @yellow;
}
#memory {
  color: @peach;
  min-width: 45px;
}
#cpu {
  color: @blue;
  min-width: 45px;
}
#clock {
  color: @rosewater;
}
#idle_inhibitor {
  color: @green;
}
#temperature {
  color: @sapphire;
}
#backlight {
  color: @green;
  min-width: 55px;
}
#pulseaudio {
  color: @mauve;
  min-width:5px
}
#network { 
  color: @pink; /* not active */
  min-width: 170px;
}
#bluetooth {
  color: @sky;
}
#network.disconnected {
  color: @foreground;  /* not active */
}
#disk {
  color: @maroon;
}
#custom-pacman{
  color: @sky;
}
#custom-scratchpad-indicator {
  color: @yellow
}
#custom-weather {
  color: @red;
}
